.main-container {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    overflow: hidden;
  }

  .image-wrapper {
    display: flex;
    width: 436px;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 261px 0 309px;
  }

  @media (max-width: 991px) {
    .image-wrapper {
      margin: 40px 0;
    }
  }

  .image {
    aspect-ratio: 4.53;
    object-fit: contain;
    object-position: center;
    width: 272px;
    max-width: 100%;
  }

  .title {
    color: #000;
    margin-top: 63px;
    white-space: nowrap;
    font: 600 33px/43px Inter, -apple-system, Roboto, Helvetica,
      sans-serif;
  }

  @media (max-width: 991px) {
    .title {
      margin-top: 40px;
      white-space: initial;
    }
  }

  .description {
    color: var(--8A92A6-Text-Color-2, #8a92a6);
    align-self: stretch;
    margin-top: 16px;
    white-space: nowrap;
    font: 400 16px/28px Inter, -apple-system, Roboto, Helvetica,
      sans-serif;
  }

  @media (max-width: 991px) {
    .description {
      max-width: 100%;
      white-space: initial;
    }
  }

  .userEmail {
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--3A57E8-Primary, #3a57e8);
    background-color: var(--FFFFFF-Bg-1, #fff);
    align-self: stretch;
    display: flex;
    margin-top: 8px;
    height: 44px;
    flex-direction: column;
  }

  @media (max-width: 991px) {
    .userEmail {
      max-width: 100%;
    }
  }

  .userPassword {
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--3A57E8-Primary, #3a57e8);
    background-color: var(--FFFFFF-Bg-1, #fff);
    align-self: stretch;
    display: flex;
    margin-top: 8px;
    height: 44px;
    flex-direction: column;
  }

  @media (max-width: 991px) {
    .userPassword {
      max-width: 100%;
    }
  }

  .login-button {
    color: var(--FFFFFF-Bg-1, #fff);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #3a57e8;
    margin-top: 68px;
    width: 188px;
    max-width: 100%;
    padding: 8px 20px;
    font: 400 16px/28px Inter, -apple-system, Roboto, Helvetica,
      sans-serif;
  }

  .login-button:hover {
    background-color: #0a2298;
  }

  @media (max-width: 991px) {
    .login-button {
      margin-top: 40px;
    }
  }

  .error-message-login {
    color: #ffffff; 
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #ff3d3d; 
    border: 1px solid #ae0101; 
    text-align: center;
    font-weight: 600;
    font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
}