.div-container-nc {
    display: flex;
    flex-direction: column;
  }

  .div-input-nc {
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--3A57E8-Primary, #3a57e8);
    background-color: var(--FFFFFF-Bg-1, #fff);
    align-self: stretch;
    display: flex;
    min-height: 44px;
    margin-top: 2px;
    width: 270px;
    flex-direction: column;
  }

  .div-new-customer-btn {
    color: white;
    margin-top: 30px;
    text-align: center;
    white-space: nowrap;
    justify-content: bottom;
    border-radius: 5px;
    background-color: #3a57e8;
    border: 1px solid var(--3A57E8-Primary, #3a57e8);
    width: 270px;
    max-width: 100%;
    padding: 8px 2px;
    font: 400 16px/28px Inter, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
 