.car-list-container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: aliceblue;
  }
  
  .car-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .car-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color:cornsilk;
  }
  
  .car-image {
    max-width: 100%;
    max-height: 150px;
    object-fit: cover;
  }
  
  .car-details {
    margin-top: 10px;
  }
  