.car-list-container {
    max-width: 100vw;
    background-color: transparent;
    margin-right: 30px;
  }
  
  .car-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .car-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: #d9d9d9;
    border-radius: 5px;
  }
  
  .car-image {
    max-width: 100%;
    max-height: 150px;
    object-fit: cover;
  }
  
  .car-details {
    margin-top: 10px;
  }

  .car-list-container p{
    color: #3a3838;
    background-color: transparent;
    border: 1px solid transparent;
    align-self: start;
    font: 400 16px/28px Inter, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .div-new-car-btn-cl {
    color: white;
    text-align: center;
    white-space: nowrap;
    justify-content: bottom;
    border-radius: 5px;
    background-color: #3a57e8;
    border: 1px solid var(--3A57E8-Primary, #3a57e8);
    width: 270px;
    height: 40px;
    max-width: 100%;
    padding: 8px 2px;
    font: 400 16px/28px Inter, -apple-system, Roboto, Helvetica,
      sans-serif;
  }

  .div-header-title-cl {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .car-list-container h2{
    font-size: 28px;
  }

  .car-item.selected {
    border-color: #3a57e8; /* Skift kantfarven for at indikere valg */
    box-shadow: 0 0 10px rgba(58, 87, 232, 0.5); /* Tilføj skyggeeffekt */
}