.start, .stop{
    border: 1px solid #3a57e8;
    border-radius: 4px;
    width: 200px;
    padding: 14px 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.error-message {
    color: #ff0000; /* Rød farve for fejlmeddelelser */
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff1f1; /* Let rød baggrundsfarve */
    border: 1px solid #ff0000; /* Rød kant */
    text-align: center;
    font-weight: bold;
}

.date-display {
    margin-top: 10px;
    padding: 8px;
    background-color: #ffffff; /* Baggrundsfarve der matcher med input-felterne */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Blød skygge for at give dybde */
    color: #333; /* Mørk tekstfarve */
    font-size: 16px;
    text-align: center; /* Centreret tekst */
    font-weight: bold; /* Gør teksten fed */
    width: 240px;
    color: #3a57e8;
}
