.lease-agreement-list-container {
  max-width: auto;
  background-color: #dad9d9;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.lease-agreement-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.lease-agreement-table th, .lease-agreement-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 12px;
}

.lease-agreement-table th {
  background-color: #3a57e8;
  color: white;
}

.lease-agreement-table tbody tr:nth-child(even) {
  background-color: #dad9d9; /* Hvid baggrund for hver anden række */
}

.lease-agreement-table tbody tr:nth-child(odd) {
  background-color: #c9c8c8; /* En anden farve for de ulige rækker */
}
